.LoginSingup{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
}
.LoginSingup .inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 50%;
}
.LoginSingup .inputs input{
    padding: 20px;
    width: 100%;
    border: 3px solid #cccccc;
    transition: .5s;
    border-radius: 0;
    outline: none;
}
.LoginSingup .inputs input:focus{
    border-radius: 0;
    border: 3px solid #000000;
    
}
.LoginSingup button{
    width: 50%;
    border: none;
    
    cursor: pointer;
    padding: 20px;
    background: #942301;
    color: white;
}
.agreed{
    
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    width: 50%;
    align-items: center;
}
.container {
    display: block;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
.agreed  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
.agreed  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
.agreed  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
.agreed  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
.agreed  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
.agreed  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }