.shop{
    padding: 20px;
    display: flex;
    gap: 20px;
}
.first-ads{
    width: 1000px;
    height: 300px;
}
.secendparte{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.firstparte{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.secend-ads{
    width: 700px;
    height: 200px;
}
.therd-ads{
    width: 700px;
    height: 250px;
}
.forthe-ads{
    width: 1000px;
    height: 240px;
}