.p-items{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
}
.popular{
  padding: 20px;  
}
.popular h1{
    display: flex;
    justify-content: center;
}
.popular hr{
    width: 100%;
    height: 1px;
    background: black;
}